<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapacityKeyV8.Properties.Settings.CKFSTdbConnectionString"
            connectionString="Data Source=DESKTOP-GTLH5CB\SQLEXPRESS;Initial Catalog=CKFSTdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>